<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http:/www.thymeleaf.org">
<head th:fragment="head">
    <meta charset="UTF-8"/>
    <title>Employee Information System</title>
    <link rel="stylesheet" href="../static/css/bootstrap.css" th:href="@{/css/bootstrap.css}"/>
    <link rel="stylesheet" href="../static/css/jquery.dataTables.css" th:href="@{/css/jquery.dataTables.css}"/>
    <script type="text/javascript" src="../static/js/angular.min.js" th:src="@{/js/angular.min.js}"></script>
    <script type="text/javascript" src="../static/app/app.module.js" th:src="@{/app/app.module.js}"></script>
    <script type="text/javascript" src="../static/app/employees.controller.js"
            th:src="@{/app/employees.controller.js}"></script>
</head>
<body>
<header th:fragment="header">
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-primary">
        <a class="navbar-brand" href="/Home/Index">EIS</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/Home/Index">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Home/Save">Create</a>
                </li>
                <!--<li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Dropdown
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li>-->
                <!--<li class="nav-item">
                    <a class="nav-link disabled" href="#">Disabled</a>
                </li>-->
            </ul>
            <!--<form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>-->
        </div>
    </nav>
</header>

<div class="jumbotron" th:fragment="jumbotron">
    <h1 class="display-4">Employee Information System</h1>
    <p class="lead">This is a platform for employees management.</p>
    <hr class="my-4">
    <p>It uses spring boot/mvc, thymeleaf, postgresql, bootstrap, spring initializer, java, tomcat, datatables js and angular js.</p>
    <!--<p class="lead">
        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </p>-->
    <!--<form action="/Home/Save" method="get" target="_blank">
        <button type="submit" class="btn btn-primary">Create</button>
    </form>-->
    <a href="/Home/Save">Create</a>
</div>

<footer class="footer" th:fragment="footer"><!--style="position: absolute; bottom: 0"-->
    <div>
        <ul>
            <li><a href="/Home/Index">Home</a></li>
            <li><a href="/Home/Save">Create</a></li>
        </ul>
        <p>&copy; 2020 developed by CITS</p>
    </div>
</footer>

</body>
</html>