<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http:/www.thymeleaf.org">
<head th:replace="common::head"></head>
<body ng-app="app" ng-controller="EmployeesController as ec">

<div th:replace="common::header"></div>

<div class="container">
    <div class="jumbotron">
        <h2>Employee Information System</h2>
        <p>This is a platform for employees management.</p>
        <p>It uses spring boot, thymeleaf, postgreSQL, bootstrap, spring initializer, java, tomcat, datatables and
            angular.</p>
        <a href="/Home/Save">Create</a>
    </div>
</div>

<div class="container">
    <form class="form-horizontal">
        <h2>Create Employee</h2>
        <div class="form-group">
            <label class="control-label col-sm-2" for="name">Name</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="name" placeholder="Enter name" ng-model="employee.name">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="role">Role</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="role" placeholder="Enter role" ng-model="employee.role">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="role">cnic</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="cnic" placeholder="Enter cnic" ng-model="employee.cnic">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="role">Age</label>
            <div class="col-sm-10">
                <input type="number" class="form-control" id="age" min="0" max="200" placeholder="Enter age"
                       ng-model="employee.age">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="dob">Date of birth</label>
            <div class="col-sm-10">
                <input type="date" class="form-control" id="dob" placeholder="Enter date of birth"
                       ng-model="employee.dob">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="button" class="btn btn-primary" ng-click="ec.addEmployee(employee)">Create</button>
            </div>
        </div>
    </form>
</div>

<div th:replace="common::footer"></div>

<script src="../static/js/jquery.js" th:src="@{/js/jquery.js}"></script>
<script src="../static/js/bootstrap.js" th:src="@{/js/bootstrap.js}"></script>
<script type="text/javascript" src="../static/js/jquery.dataTables.js" th:src="@{/js/jquery.dataTables.js}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.10/jquery.mask.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#cnic').mask('99999-9999999-9');
    });
</script>
</body>
</html>
